.App{
  display: flex;
  flex-direction: row;

  /* background: var(--clr-primary); */
/*   background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);  */
 /*  background: radial-gradient(
      circle at 94.02% 88.03%,
      #54a4ff,
      transparent 100%
    ),
    radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%),
    radial-gradient(circle at 50% 50%, #000000, #000000 100%); */
  flex-grow: 1;
  
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .oo {
    animation: ooo infinite 3s ease-in-out;
  }
} */



/* @keyframes ooo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }

  100% {
    transform: translateY(0px)
  }
} */
